<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <div id="app">
        <!--v-model用于双向绑定数据,通过dom操作之后input.value="xxx"无法影响inputValue的值-->
        <input v-model="inputValue">
        <button v-on:click="handleClick">提交</button>
        <ul>
            <!--组件命名首字母大写转化为小写-分隔-->
            <!--父组件向子组件传值使用v-bind并且子组件需要接收,子组件向父组件传值使用$emit触发父组件监听的事件-->
            <todo-item :index="index" :content="item" @delete="handleDelete" v-for="(item, index) in list"></todo-item>
        </ul>
    </div>

    <script src="../vue/vue.js"></script>
    <script>
        const log = console.log.bind(console)

        // 全局注册组件
        // Vue.component('TodoItem', {
        //     props: ['content'],
        //     template: '<li>{{ content }}</li>'
        // })

        let TodoItem = {
            props: ['content', 'index'],
            template: '<li @click="handleItemClick">{{ content }}</li>',
            methods: {
                handleItemClick: function () {
                    this.$emit('delete', this.index)
                }
            }
        }

        let app = new Vue({
            el: '#app',  // 设置实例控制的页面范围
            components: {  // 局部注册组件
                TodoItem: TodoItem,
            },
            data: {
                list: [],
                inputValue: '',
            },
            methods: {
                handleClick: function () {
                    let v = this.inputValue
                    this.list.push(v)
                    this.inputValue = ''
                },
                handleDelete: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })
    </script>
</body>
</html>